* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
}

.App {
  width: 375px;
  margin: 0 auto;
}

@font-face {
  font-family: "Open-Sans-Regular";
  src: local("Open-Sans"),
   url("./assets/font/open-sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
 }

 @font-face {
  font-family: "Open-Sans-Bold";
  src: local("Open-Sans"),
   url("./assets/font/open-sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
 }